.header_container{
    background-color: hsl(0, 0%, 95%);
    padding: 0 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 4.5rem;
}

.header_logo{
    font: bold;
    font-size: 2rem;
    color: hsl(205, 8%, 29%);
}

.header_space{
    flex-grow: 1;
}

.header_icon{
    margin: 2vmax;
}


.container > .icon {
    cursor: pointer;
}
