.header_container {
  background-color: hsl(0, 0%, 95%);
  padding: 0 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 4.5rem;
}

.header_logo {
  font: bold;
  font-size: 2rem;
  color: hsl(205, 8%, 29%);
}

.header_space {
  flex-grow: 1;
}

.header_icon {
  margin: 2vmax;
  display: flex;
}

.header_button {
  position: relative;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.header_button > .material-icons {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 2rem;
}

.material-icons:hover {
  opacity: 0.6;
  transform: translateY(-35%);
  transition: transform 0.3s ease-in-out;
}

.label_transform {
  position: absolute;
  opacity: 0;
  transform: translateY(50%);
  pointer-events: none;
}

.material-icons:hover + .label_transform {
    opacity: 1;
    transition: all .6s ease-in-out;
}